@import "./variables";
@import "./header";
@import "./buttons";
@import "./input";
@import "./track";
@import "./type";

body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	background-image: url('/images/90s-white.jpg');
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	// overflow: hidden;
}

*, *:after, *:before {
	box-sizing: border-box;
}
