$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 12px;
$font-size-tiny: 10px;

$spacing-large: 24px;
$spacing-medium: 18px;
$spacing-small: 8px;
$spacing-tiny: 4px;

$color-pink: #E6389A;
$color-green: #27ADA8;