doctype html
html
  head
    title throwbacks
    //- link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='app.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,300,700' rel='stylesheet' type='text/css')
  body
    main 
      if !user 
        h1 Log in
        a(href='/auth/spotify')
          img.spotify-login(src="images/log_in-mobile.png")
      else
        p You’re logged in as 
          em!= user.username 
          | , enter your username for Last.fm to continue (needs to be public).    
        
        .lastfm

    //- if !user
    //-   h1 Log in
    //-   a(href='/auth/spotify') Login with Spotify
    //- else 
    //-   input#username(type='text', name='username', placeholder='Last.fm username')
    //-   br  
    //-   //- Switch to input type date
    //-   input#start(type='text', name='start', placeholder='Start date')
    //-   br
    //-   input#end(type='text', name='end', placeholder='End date')
    //-   br
    //-   br
    //-   strong= user.username
    //-   br
    //-   button.random Create random playlist
    //-   br
    //-   button.top20 Create top 20 playlist
    //-   br
    //- br
    .playlist
    ul
  //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js')
  //- script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.3.min.js')
  script(type='text/javascript').
    window.apiURL = 'http://localhost:8888';
  script(type='text/javascript', src='pikaday.js')
  script(type='text/javascript', src='index.js')

  != LRScript
  //- script(type='text/javascript', src='index.js')
