doctype html
html
  head
    title throwbacks
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    form
     
      if !user
        h2 Please log in
        a(href='/auth/spotify') Login with Spotify
      else 
        input#username(type='text', name='username', placeholder='Last.fm username')
        //- Switch to input type date
        input#start(type='text', name='start', placeholder='Start date')
        input#end(type='text', name='end', placeholder='End date')
        button(type='submit') Get

        strong= user.username
        button.random Create random playlist
        button.top20 Create top 20 playlist

    ul
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js')
  script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.3.min.js')
  script(type='text/javascript', src='pikaday.js')
  script(type='text/javascript', src='index.js')
