doctype html
html
  head
    title throwbacks
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,300,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='app.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      img(src='/images/logo.png')
    main 
      if !user 
        h1.section-header.text-center Throwbacks is an app that lets you create Spotify playlists based on your Last.fm history. 
        a.spotify-link(href='/auth/spotify')
          img.spotify-login(src="/images/log_in-mobile.png")
      else
        h2.section-info You’re logged in as 
          em!= user.username 
          | , enter a public Last.fm username to continue.    
        
        .lastfm
    footer
      p Made by 
        a(href="mailto:hello@tamara.cool") Tamara Chahine
      a.logout(href='/logout') Logout
  script(type='text/javascript').
    window.apiURL = 'http://localhost:8888';
  script(type='text/javascript', src='pikaday.js')
  script(type='text/javascript', src='index.js')
  != LRScript
