doctype html
html
  head
    title throwbacks
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,300,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='app.css')
  body
    header
      a(href='/logout') Logout
    main 
      if !user 
        h1 Log in
        a(href='/auth/spotify')
          img.spotify-login(src="images/log_in-mobile.png")
      else
        p You’re logged in as 
          em!= user.username 
          | , enter your username for Last.fm to continue (needs to be public).    
        
        .lastfm

    .playlist
    ul
  script(type='text/javascript').
    window.apiURL = 'http://localhost:8888';
  script(type='text/javascript', src='pikaday.js')
  script(type='text/javascript', src='index.js')
  != LRScript
