//- li.track-item(class!=(!model.get('uri') ? 'track-fade': ''))
	//- Fade if the song isn't on spotify
img.track-image(src!=model.get('image')[1]['#text'])
.track-details
	strong.track-name!= model.get('name')
	p.track-artist!= model.get('artist').name
	- if (model.get('loved') == 1)
		em.track-loved ❤